
<ion-view >
         <ion-nav-bar class="bar bar-header bar-calm item-input-inset">
            
            <ion-nav-buttons >
                       <div class="cnavbarl"><button class="button-clear"  ng-click="navigation()">
                      <i class="ion-arrow-left-a iconstyle"  ></i></button></div>
                      <div class="cnavbarm">CCD COUPONS </div>
                      <div class="cnavbarr"><i class="icon ion-ios-search placeholder-icon"></i></div>
                     
            </ion-nav-buttons>
        </ion-nav-bar>

<ion-content>
 <ion-scroll  direction="y" style="width: 360px; height: 500px" >
  
 <!--For List -->   


        <div class="item item-image holder ">
                    <div class ="coupon">
                    <img  height="280" width="500">
                    <div class=" couponinner ">
                   <img src="img/ccd.jpg" class="img-circle" ></img>
                    </div>
                    <i class="ion-android-call call iconstyle"></i>     <i class="ion-android-star star iconstyle"></i>
                    <span class="textimage ">Free Summer Salm Beverages<br>Rs.249.00 </span>
                  </img>
        </div>



        <div class="rowcoupon " >
                  <span class="col col-33 tab-item "> 
                    <div class="textcenter" >  <h4><b> For 7 days only </b></h4> <h6><span class="textgray">Start date</span></h6>  </div>   
                  </span>
                  <span class="col col-33 tab-item couponborder"> 
                     <div class="textcenter" ><h4><b>30th May 2015</b></h4><h6><span class="textgray">End date</span></h6></div>
                  </span>
                  <span class="col col-33 tab-item ">    
                     <div class="full"><span><i class="ion-checkmark-circled dineiconcolor" ></i> </span>
                   <h6><span class="textgray">Dine in only</span></h6></div>
                  </span>
        </div>


</div>

<div class="list">
<li class="item">
    <i class="ion-ios-pricetag iconcolor" data-pack="android" data-tags="telephone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span>Free Summer beverages on Rs.249</span>
</li>
<li class="item">
    <i class="ion-location custom-item iconcolor" data-pack="android" data-tags="telephone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span>Lorem ipsum dolor sit amet</span>
</li>
<li class="item">
    <i class="ion-android-call iconcolor" data-pack="android" data-tags="telephone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span>   +91 9586325696,7785965463</span>
 </li>   
 

</div>
</ion-scroll>
    </ion-content>
<div class="bar bar-footer bar-calm" ng-click="firstpopup()">
 <a > <div class="title" >SEE COUPON CODE</a></div>
</div>

      <!--  <div class="bar bar-footer bar-calm">
        <button class="button button-full  button-clear" ng-click="firstpopup()">
        SEE COUPON CODE
        </button>

        </div>
-->
  </ion-view>