<ion-modal-view class="couponcode">



          
          <ion-content>                                 
           <span class="closebuttoncouponcode">
                    <a class="button button-clear colsesize " ng-click="firstpopuphide()">
                    <i class="icon ion-close"></i>
                    </a>                    

                </span>  

                <div class=" cslidetext ">

                    <div class="codeheader">  Bingo :)</div>
                    <div class="codebody">use this Coupon code</div>
                     <div class="codebodyinner">
                      lorem ipsum dolor sit consectetur <br>ipsum dolor sit consectetur </div>
                     <br>

                     <div class="colorcode"><h4>12345</h4></div>

                    <div class="codefooter"> lorem ipsum dolor sit consectetur adispicing edit </div>
        </ion-content>
</ion-modal-view>