<ion-view title="">
  


<ion-nav-bar class="bar bar-header bar-calm item-input-inset">
            
            <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                    </button>
                    <h5 ><font color="white">TOP COUPONS</font></h5>&nbsp;&nbsp;&nbsp;&nbsp;

                      <label class="item-input-wrapper">
                      <i class="icon ion-ios-search placeholder-icon"></i>
                      <input type="search" placeholder="Search">
                      </label>
            </ion-nav-buttons>
 </ion-nav-bar>

  <ion-content class="has-header">
    <h1>Search</h1>
  </ion-content>
</ion-view>